<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Order Page</title>
</head>
<body>
<div class="container">
    <h2>Create New Order</h2>
<!--    <form th:action="@{/order/create}" method="post" th:object="${order}">-->
<!--        <div class="form-group">-->
<!--            <label for="address" class="form-label">Delivery Address:</label>-->
<!--            <input type="text" class="form-control" id="address" th:field="*{address}">-->
<!--            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>-->
<!--        </div>-->
<!--    </form>-->

    <hr>

    <h2>Current Order</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col" colspan="2">Operations</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${currentOrder.items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.description}"></td>
            <td th:text="${item.price}"></td>
            <td>
                <a th:href="@{/order/remove-item/{orderId}/{itemId}(orderId=${currentOrder.id}, itemId=${item.id})}">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Total Price: <span th:text="${currentOrder.totalPrice}"></span></h3>

    <div class="btn-container">
<!--        <form th:action="@{/order/pay/{orderId}(orderId=${currentOrder.id})}" method="post">-->
        <form th:action="@{/order/create}" method="post" class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="address" class="visually-hidden">Delivery Address:</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Delivery Address">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-info btn-lg">Submit</button>
            </div>
        </form>
        <form th:action="@{/home}" method="get">
            <input class="btn-info btn-lg" type="submit" value="Home">
        </form>
        <form th:action="@{/old}" method="get">
            <input class="btn-info btn-lg" type="submit" value="My Orders">
        </form>
        </td>
    </div>
</div>
</body>
</html>